{{#section 'head'}}
<link rel="stylesheet" type="text/css" href="CSS/about.css" />
{{/section}}

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Helping to connect sicne 2022</p>
  
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="sample/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Vaibhav Joon</h2>
        <p class="title">Founder</p>
      
        <p>Vaibhav.joon.20cse@bmu.edu.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="sample/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Rakshit Sharma</h2>
        <p class="title">Co-Founder</p>
        
        <p>rakshit.sharma.20cse@bmu.edu.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="sample/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Sahil Kochhar</h2>
        <p class="title">Co-Founder</p>
       
        <p>Sahil.kochhar.20cse@bmu.edu.in</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

