{{#section 'head'}}

<link rel="stylesheet" type="text/css" href="CSS/styleprofile.css" />
{{/section}}

<div class="header">
	<div class="wrapper">
		<img src="images/heavy logo 4.png" width=160 height=70 class="logoletter" />

	</div>
</div>

<div class="main">
	<div class="wrapper">

		<div class="signup">
			<!-- <h1>Join heavy today</h1> -->
			<img src="images/profile/profile2.png" />
			<form action="profile3">
				<table id="signuptable">

					<tr>
						<td style="padding-top:18px"><input type="text" id="school" class="inputtext2"
								placeholder="Secondary School" required /></td>
					</tr>

					<tr>
						<td><input type="text" id="language" class="inputtext2" placeholder="Language Known" required />
						</td>
					</tr>

					<tr>
						<td><input type="text" id="religion" class="inputtext2" placeholder="Religion" required /></td>
					</tr>

					<tr>
						<td><select title="Gender">
								<option value=0>Gender</option>
								<option value=1>Men</option>
								<option value=2>Women</option>
								<option value=3>Other</option>
						</td>
					</tr>

					<tr id="nextbut">
						<td><input id="nextbttn" type="submit" value="Next" /></td>
					</tr>

				</table>
			</form>
		</div>
	</div>
</div>

<div class="footer">
	<div class="wrapper">
		<div class="foot">

			<ul>
				<li><a href="about">About</a></li>
				<li><a href="Contact">Contact</a></li>
				<li><a href="">Privacy and Policy</a></li>
				<li><a href="">Help</a></li>
			</ul>

			<p>Copyright © www.heavy.com 2017 All Rights Reserved.</p>
		</div>
	</div>
</div>